.painting-style {
  padding: 0 40px;

  &__body {
    padding-left: 50px;
  }

  @mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @mixin basic-labels {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;
  }
  &__title {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0 0 0 10px;
  }

  &__subtitle {
    @include basic-labels;
    color: grey;
    margin-top: 10px;
  }

  &__fill-label, &__stroke-label, &__blending-label, &__labels-label {
    @include basic-labels;
  }

  &__step {
    @include flex-row;
  }

  &__step-number {
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: white;
  }

  &__select {
    @include flex-row;
    justify-content: space-between;
    height: 45px;
  }

  &__labels {
    @include flex-row;
    height: 45px;
  }

  &__stroke-options, &__fill-options, &__blending-options {
    width: 220px;
    height: 35px;
    background-color: white;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &__labels-label {
    margin-left: 10px;
  }
}